.features__icon_events {
    background-image: url('../images/main/features-block/features/features__icon/features__icon_events/events.png');
    background-repeat: no-repeat;
    background-position: center;
}