.faq-menu__button_documentation {
    width: 195px;
    height: 43px;
    background: #E8ECF4;
    border-radius: 2px;
    font-family: 'Quicksand-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #7382A3;
}