.customers__facebook {
    width: 116.58px;
    height: 22.37px;
    // mask-image: url('../images/main/customers/customers__nav/customers__facebook/facebook.png');
    // background-color: #D6DAE5;
    cursor: pointer;
    svg path:hover {
        fill: #6188FF;
    }
}