@use './features/features.scss';
@use './features-block__buttons/features-block__buttons.scss';
.features-block {
    height: 885px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/main/features-block/clouds.png');
    background-repeat: no-repeat;
    background-size: contain;
    h3 {
        margin-top: 171px;
        margin-bottom: 20px;
    }
    h2 {
        margin-bottom: 92px;
        font-weight: 500;
        font-family: 'Quicksand-Medium';
        font-size: 24px;
        line-height: 30px;
    }
    p,
    span {
        font-family: 'OpenSans-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: #ADB3CB;
    }
}