@use './quotes-text-block/quotes-text-block.scss';
@use './quotes-slider/quotes-slider.scss';
.quotes-block {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    height: 480px;
    // width: 1651px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}