.features__icon_files {
    background-image: url('../images/main/features-block/features/features__icon/features__icon_files/files.png');
    background-repeat: no-repeat;
    background-position: center;
}