.customers__bit-bucket {
    width: 116.59px;
    height: 29px;
    mask-image: url('../images/main/customers/customers__nav/customers__bit-bucket/bit-bucket.png');
    background-color: #D6DAE5;
    cursor: pointer;
    &:hover {
        background-color: #5982E7;
    }
}