.links__m {
    width: 16.51px;
    height: 12.86px;
    // background-color: #B6BAC7;
    // mask-image: url('../images/header/links/links__m/m.png');
    cursor: pointer;
    svg path:hover {
        fill: #6188FF;
    }
}