@use './features__icon/features__icon.scss';
.features__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        margin-top: 33px;
        margin-bottom: 25px;
    }
}