.customers__atlassian {
    width: 116.57px;
    height: 24.07px;
    // mask-image: url('../images/main/customers/customers__nav/customers__atlassian/atlassian.png');
    // background-color: #D6DAE5;
    cursor: pointer;
    svg path:hover {
        fill: #6188FF;
    }
}