@use './faq-menu/faq-menu.scss';
.faq-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 964px;
    h3 {
        padding-top: 176px;
        margin-bottom: 20px;
    }
    h2 {
        font-family: 'Quicksand-Medium';
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }
}