.quotes-text-block {
    margin: 146.31px 132px 145.3px 276px;
    h3 {
        margin-bottom: 31.06px;
    }
    h2 {
        font-family: 'Quicksand-Medium';
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 14.03px;
    }
    p {
        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #A4ABC8;
    }
}