.quote-card__photo-user {
    width: 62px;
    height: 62.13px;
    border-radius: 50%;
    background-image: url('../images/main/quotes-block/quotes-slider/quotes-cards/quotes-card__content/photoUser.png');
    margin-left: 180px;
}