.increase-block__chart-dot {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 3px solid #5E80FE;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(82, 131, 255, 0.25);
    color: #5E80FE;
    cursor: pointer;
    position: relative;
}