.features__icon_meeting {
    background-image: url('../images/main/features-block/features/features__icon/features__icon_meeting/meeting.png');
    background-repeat: no-repeat;
    background-position: center;
}