.links__telegram {
    width: 14.7px;
    height: 11.79px;
    // mask-image: url('../images/header/links/links__telegram/tg.png');
    // background-color: #B6BAC7;
    cursor: pointer;
    svg path:hover {
        fill: #6188FF;
    }
}