.slider__arrow_left {
    width: 24px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: -143px;
    background: url('../images/main/blog-block/slider/slider__arrows/arrow_left.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}