@use './slider__image_1/slider__image_1.scss';
@use './slider__image_2/slider__image_2.scss';
@use './slider__image_3/slider__image_3.scss';
@use './images_zoom-icon/images_zoom-icon.scss';
.slider__images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 407px;
    height: 267px;
    margin-right: 67px;
    // box-sizing: content-box;
}